<%- include("header") -%>
        <div class="box" id="heading">
            <h1> Thisi s the about page. </h1>
        </div>

       <div class="box">
            <p> this is a simple website for a to do list</p>
        </div>

<%- include("footer") -%>

